*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "nav";
@import "imgyMedia";


header{
    background-image: url("../css/Fondos/background-colorido.png");
    font-size: 15px;
    text-align: center;
    padding: 15px;
    opacity: 0.85;
    font-family: 'Indie Flower', cursive;
    //width: 100%;
}

body{
    font-family:'Fira Sans', sans-serif;
    font-size: 23px;    
    background-image: url("./Media/Fondos/double-bubble-outline.png");
}

footer{
    font-size: 1.1rem;
    margin: 20px;
    line-height: 1.4;
    padding-top: 10px;
    background-color: beige;
    div{
        padding-bottom: 5px;
    }
}

h1{
   font-size: 60px;
}

h2, h3{
    margin:20px;
    margin-top:30px;
    font-weight: bold;
}

a{
    text-decoration: none;
}
p{
    text-align: justify;
}

.listaIdeas li{
    margin-left: 20px;
    padding: 5px;
}